@import pretty-pieces.sass


body
  +sans-serif
  background: #222
  color: #fff
  margin: 0
  padding: 0

.container
  padding: 20px 40px 0


.row
  margin-top: 0
  margin-bottom: 0
  

h1
  font-size: 3em 
  font-weight: normal
  margin: 0
  padding: 0 0 0.2em 0

h2
  font-size: 3em
  margin: 1em 0 0 0 
  padding: 0
  font-weight: normal

hr
  height: 0
  width: 100%
  margin: 0 0 20px 0
  padding: 0
  border: none
  border-top: 1px solid rgba(0,0,0,.8)
  border-bottom: 1px solid rgba(255,255,255,.1)

.gradient-box.green, .gradient-box.blue
  small
    color: #fff
    text-shadow: 1px -1px rgba(0,0,0,.6) 

  &.small
    margin-top: 20px

.gradient-box.green.striped, .gradient-box.blue.striped
  min-width: 165px

  h3
    font-size: 80px
    
