@import pretty-pieces.sass


body
  +sans-serif
  background: #222
  color: #fff
  margin: 0
  padding: 0

.container
  padding: 20px 40px 0




h1
  font-size: 3em 
  font-weight: normal
  margin: 0
  padding: 0 0 0.2em 0

h2
  font-size: 3em
  margin: 1em 0 0 0 
  padding: 0
  font-weight: normal

hr
  height: 0
  width: 100%
  margin: 0 0 20px 0
  padding: 0
  border: none
  border-top: 1px solid rgba(0,0,0,.8)
  border-bottom: 1px solid rgba(255,255,255,.1)

.gradient-box.green, .gradient-box.blue
  small
    color: #fff
    text-shadow: 1px -1px rgba(0,0,0,.6) 

  &.small
    margin-top: 20px

.gradient-box.green.large, .gradient-box.blue.large
  min-width: 165px

  h3
    font-size: 80px

.row
  padding: 0 0 0 20px
  margin: 0

.row.winner
  +gradient(darken($blue, 10%), darken($blue, 20%))
  +border-radius(6px)
  border-top: 1px solid rgba(255,255,255,0.3)
  padding-top: 20px
    
img.gravatar
  +border-radius(6px)
