@import pretty-pieces.sass


body
  +sans-serif
  background: #222
  color: #fff
  margin: 0
  padding: 0

.container
  padding: 20px 40px 0


h1
  font-size: 3em 
  font-weight: normal
  margin: 0
  padding: 0 0 0.2em 0

h2
  font-size: 3em
  margin: 1em 0 0 0 
  padding: 0
  font-weight: normal

hr
  height: 0
  width: 100%
  margin: 0 0 20px 0
  padding: 0
  border: none
  border-top: 1px solid rgba(0,0,0,.8)
  border-bottom: 1px solid rgba(255,255,255,.1)

.gradient-box.green, .gradient-box.blue, .gradient-box.gray
  small
    color: #fff
    text-shadow: 1px -1px rgba(0,0,0,.6) 

  &.small
    margin-top: 20px

.gradient-box.green.large, .gradient-box.blue.large
  min-width: 165px

  h3
    font-size: 80px

.row
  padding: 0 0 0 20px
  margin: 0

.row.winner
  +gradient(darken($blue, 10%), darken($blue, 20%))
  +border-radius(6px)
  border-top: 1px solid rgba(255,255,255,0.3)
  padding-top: 20px
    
img.gravatar
  +border-radius(6px)
 


= transform($trans)
  -moz-transform: $trans
  -webkit-transform: $trans

// Spinner

.bar1 
  +transform(rotate(0deg) translate(0,-40px))
  opacity: 0.12

.bar2 
  +transform(rotate(45deg) translate(0,-40px))
  opacity: 0.25

.bar3 
  +transform(rotate(90deg) translate(0,-40px))
  opacity: 0.37

.bar4 
  +transform(rotate(135deg) translate(0,-40px))
  opacity: 0.50

.bar5 
  +transform(rotate(180deg) translate(0,-40px))
  opacity: 0.62

.bar6 
  +transform(rotate(225deg) translate(0,-40px))
  opacity: 0.75

.bar7 
  +transform(rotate(270deg) translate(0,-40px))
  opacity: 0.87

.bar8 
  +transform(rotate(315deg) translate(0,-40px))
  opacity: 1


#loading
  margin: 80px auto 0 auto
  width: 100px
  text-align: center

#spinner
  position: relative
  width: 100px
  height: 100px
  +border-radius(100px)

  div
    width: 10px
    height: 30px
    background: #fff
    position: absolute
    top: 35px
    left: 45px
